html {
    min-height: 100%;
}

img {
    max-width: 100%;
}

body,
html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    color: rgba(9, 37, 64, .6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    color: rgb(9 37 64);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

h1,
.h1 {
    font-size: 40px;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 30px;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 25px;

}

h4,
.h4 {
    font-size: 20px;

}

h5,
.h5 {
    font-size: 18px;
}

.mb-05 {
    margin-bottom: 5px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.mb-6 {
    margin-bottom: 60px !important;
}

.mb-7 {
    margin-bottom: 70px !important;
}

.mb-10 {
    margin-bottom: 100px !important;
}

h2 .material-symbols-outlined {
    font-size: 35px;
}

.btn {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding: 10px 20px;
}

.form-control {
    border-radius: 6px;
}

.form-control.form-control-lg {
    min-height: 70px;
    padding: 15px 25px;
}

.btn-primary {
    background-color: #ff7a1a !important;
    border-color: #ff7a1a !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #f48d43 !important;
    border-color: #f48d43 !important;
}

.homePage {
    /* background-color: #726cf1; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#726cf1+44,726cf1+44,9269ea+100 */
    background: linear-gradient(135deg, rgba(114, 108, 241, 1) 44%, rgba(114, 108, 241, 1) 44%, rgba(146, 105, 234, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


    min-height: 100vh;
}

.validationForm {
    background-color: #fff;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: rgb(111 81 216) 0px 5px 10px;
}

.validationForm .form-control {
    border: none;
    box-shadow: none;
    color: #092540;
    background-color: transparent;
}

.validationForm .form-control::-moz-placeholder {
    color: #cac8f3;
}

.validationForm .form-control::placeholder {
    color: #cac8f3;
}

.validationForm .btn {
    border: none;
    border-radius: 35px !important;
    margin: 10px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.leftCol {
    width: 118px;
    min-width: 118px;
    background-color:rgb(9 37 64);
}

.leftContent {
    position: sticky;
    top: 0;
}

.leftCol ul {
    list-style: none;
    padding: 20px;
}

.leftCol ul li {
    text-align: center;
    font-size: 11px;
    margin: 25px 0;
    color: rgb(255 255 255 / 79%);
    font-weight: 500;
}

.leftCol ul li i {
    display: block;
    margin: 0 auto;
}

.rightCol {
    background-color: #ffffff;
    width: 100%;
    padding: 30px 5vw;
}

.cardBox {
    border-radius: 6px;
    padding: 25px 25px 5px 25px;
    border: 1px solid rgba(9, 37, 64, .2);
}

dt {
    flex-shrink: 0;
    width: 40%;
    padding-right: 20px;
    color: rgba(9, 37, 64, .6);
}

dd {
    flex-grow: 1;
    overflow: hidden;
    word-wrap: break-word;
    color: #092540;
}

.exampleLink {
    opacity: 0.6;
}

.material-symbols-outlined.smallIcon {
    font-size: 18px;
}

.webImg {
    position: absolute;
    left: 16%;
    right: 16%;
    top: 6%;
    transition: all 0.3s ease-in-out 0.1s;
}

.websiteImg:hover .webImg {
    top: -100%;
}

.ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.brokenLinkList li {
    padding: 16px 20px;
    color: #092540;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.brokenUrl {
    word-break: break-all;
    width: calc(100% - 32px);
}

.whiteBox {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(9, 37, 64, .08);
    border-radius: 8px;
    padding: 16px 20px;
}
.primaryBox{
    background: linear-gradient(135deg, rgba(114, 108, 241, 1) 44%, rgba(114, 108, 241, 1) 44%, rgba(146, 105, 234, 1) 100%);
    color: #fff;
}
.progress-bar{
    background: linear-gradient(135deg, rgba(114, 108, 241, 1) 44%, rgba(114, 108, 241, 1) 44%, rgba(146, 105, 234, 1) 100%);
}
@media (max-width: 1199.98px) {

    h1,
    .h1 {
        font-size: 30px;
    }

    h2,
    .h2 {
        font-size: 23px;
    }

}

@media (max-width: 991.98px) {}


@media (max-width: 767.98px) {
    .rightCol {
        padding-left: 0;
        padding-right: 0;
    }

    .container-fluid,
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ratingInfo p {
        font-size: 13px;
    }

    .ratingInfo h2 {
        font-size: 17px;
    }

    .ratingInfo h5 {
        font-size: 14px;
    }
}

@media (max-width:575.98px) {}